<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="/assets/js/qrcode.min.js"></script>
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_code }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics_code }}');
  </script>
  <body>

    <div class="bg-white">
      <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">LiveWallet</span>
              <img class="h-8 w-auto" src="/assets/images/livewallet-logo.svg?color=indigo&amp;shade=600" alt="" />
            </a>
          </div>
        </nav>
      </header>

      {{ content }}
    </div>

  </body>
</html>
